* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #1a1a2e;
    --secondary-bg: #16213e;
    --text: #ffffff;
    --purple: #7b2cbf;
    --teal: #00d2d3;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.details {
    width: 100%;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 0%;
    height: 100%;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.stats-numbers {
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}

form {
    width: 100%;
    margin-top: 60px;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 16px;
    background: var(--secondary-bg);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--text);
    border: none;
    font-size: 23px;
    cursor: pointer;
}

.task-list {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input {
    width: 20px;
    height: 20px;
}

.completed {
    text-decoration: line-through;
    color: var(--teal);
}

.icons {
    display: flex;
    gap: 10px;
}

.icons button {
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}